*{vertical-align:text-top}
body,input,select,textarea{font-size:calc(12px * {Magnification})}
body{font-family:'Lucida Grande',Tahoma,Verdana,Arial;letter-spacing:1px;text-decoration:none;border-style:none;margin:0;padding:0;white-space:normal;background-color:#36393b;color:#c5bc8e;background-image:url('?cidram-asset=moon.jpg&theme={theme}');background-repeat:no-repeat;background-attachment:fixed;background-position:center center}
hr{border-style:solid none none;border-width:1px;margin:5px 2px 0;padding:2px;color:#aaa}
img.ico{width:16px;height:16px;border:0}
input,select,textarea{background-color:rgba(54,57,59,0.7);border:1px solid #aaa;color:#c5bc8e;margin:2px;padding:2px}
input,select{width:150px;background-repeat:no-repeat;background-position:top {FE_Align_Reverse}}
input.auto,select.auto{width:auto;padding-left:10px;padding-right:10px}
input[type=image]{width:inherit;border:inherit}
input[type=password]{background-image:url(data:image/gif;base64,{PIP_Key})}
input[type=text]{background-image:url(data:image/gif;base64,{PIP_Input})}
table,.spanner{width:100%}
textarea.half{height:75px}
textarea{height:150px}
a:link,a:visited{color:#eee6ab}
a:hover,a:active,a:focus{color:#fff7bc}
.cat,.exp,.gen,.nav,.s,.txtGn,.txtOe,.txtRd,.spanner,a,input,select,textarea{font-weight:700}
.gen,.spanner{text-align:{FE_Align_Reverse}}
.ci,.co,.gen,.center{margin:auto}
.ci,.co,.ng1,.ng2,textarea,.txtf{width:98%}
.ci{background-color:rgba(69,84,75,0.5);border-style:solid;border-width:1px;border-color:#aaa;text-align:{FE_Align};padding:12px}
.co,body,.nav,.center{text-align:center}
.co{padding:12}
.dt,.s,.txtBl,.txtGn,.txtOe,.txtRd{display:inline}
.dt{float:{FE_Align};text-align:{FE_Align};width:80%}
.gen,input,select,textarea{font-family:Verdana,Arial,Helvetica}
.gen{letter-spacing:0px;white-space:nowrap}
.h1,.h1f,.h2,.h2f,.h3,.h3f,.h4,.h4f,.ng1,.ng2,.r,.rf,.spanner{margin:0;padding:4px;border-style:{Half_Border};border-width:1px;border-color:#999}
.h1,.h1f,.h2,.h2f,.r,.rf{width:25%}
.h1,.h3,.spanner{background-color:rgba(103,106,109,0.5)}
.h2,.h4,code{background-color:rgba(86,89,92,0.5)}
.h3,.h3f,.h4,.h4f{width:50%}
code,.nav{font-family:'Courier New',Courier,'Lucida Grande',Arial}
.ng1,.h1f,.h3f{background:linear-gradient({Gradient_Degree}deg,rgba(103,106,109,0.5),#555)}
.ng2,.h2f,.h4f{background:linear-gradient({Gradient_Degree}deg,rgba(86,89,92,0.5),#444)}
.hFd:hover,.r{background-color:rgba(120,89,92,0.5)}
.rf{background:linear-gradient({Gradient_Degree}deg,rgba(120,89,92,0.5),#644)}
.branchline{border-style:none none solid none;border-width:1px;border-color:#aaa}
.txtBl{color:#000}
.txtGn{color:#b4de7d}
.txtOe{color:#e7de6c}
.txtRd{color:#e7ab7d}
.ufts{width:220px}
@keyframes idxAn{0%{background:rgba(120,89,92,0.5)}100%{background:rgba(86,89,92,0.5)}}
@keyframes nAux{0%{opacity:1.0}100%{opacity:0.0}}
@keyframes xAux{0%{opacity:0.0}100%{opacity:1.0}}
@keyframes rAux{0%{background:rgba(255,0,0,0.7)}100%{background:rgba(255,0,0,0.0)}}
.inv{opacity:0.0}
.mob{display:none}
a[href="?cidram-page=logout"]{padding-left:10px;background-image:url(data:image/gif;base64,{PIP_Key});background-repeat:no-repeat;background-position:0% 50%}
a[href="?cidram-page=logout"]:hover,a[href="?cidram-page=logout"]:active,a[href="?cidram-page=logout"]:focus{background-image:url(data:image/gif;base64,{PIP_Key2})}
.textLabel{color:#eee6ab;white-space:pre}
@media only all and (max-width:640px) {
  .big,.dt{display:none}
  .mob{display:block}
  .gen{float:none;height:auto;text-align:center}
  .ufts{width:auto}
  .h1,.h1f,.h2,.h2f,.r,.rf{width:50%}
  .extend{width:100%}
}
.hB{background-color:rgba(0,0,0,0.125)}
.hW{background-color:rgba(255,255,255,0.125)}
.fW{word-break:break-all}
.exp{color:#ff0;background-color:#f00}
.pieul{list-style-type:none;margin:0;padding:0}
.comCat::before{content:"➖";display:inline-block;margin-{FE_Align_Reverse}:6px}
.caret-down::before{animation:forRotate .2s linear 1;animation-fill-mode:both}
.caret-up::before{animation:revRotate .2s linear 1;animation-fill-mode:both}
.comSub{display:none}
.active{display:block}
@keyframes forRotate{0%{transform:rotate(0)}100%{transform:rotate({45deg})}}
@keyframes revRotate{0%{transform:rotate({45deg})}100%{transform:rotate(0)}}
