# CIDRAM .gitattributes file.
# CIDRAM repository can be found here:
# https://github.com/CIDRAM/CIDRAM/

# Refer to:
# https://help.github.com/articles/dealing-with-line-endings/

* text eol=lf
*.dat binary
*.gif binary
*.jpg binary
*.png binary
*.zip binary

# Refer to:
# https://github.com/github/linguist

modules/modules.dat linguist-language=YAML
themes/themes.dat linguist-language=YAML
