*{vertical-align:text-top}
body,input,select,textarea,.idx{font-size:12px}
body{font-family:'Merriweather','PT Serif',sans-serif,'Lucida Grande',Tahoma,Verdana,Arial;letter-spacing:1px;text-decoration:none;border-style:none;margin:0;padding:0;white-space:normal;background-color:#212121;color:#ddd}
code{font-family:monospace}
hr{border-style:solid none none;border-width:1px;margin:5px 2px 0;padding:2px;color:#999}
img.ico{width:16px;height:16px;border:0;filter: grayscale(60%) hue-rotate(45deg) brightness(0.8)}
input,select,textarea{background-color:#2f2f2f;border:1px solid #999;color:#ccc;margin:2px;padding:2px}
input,select{width:150px;background-repeat:no-repeat;background-position:top {FE_Align_Reverse}}
input.auto,select.auto{width:auto;padding-left:10px;padding-right:10px}
input[type=image]{width:inherit;border:inherit}
input[type=password]{background-image:url(data:image/gif;base64,{PIP_Key})}
input[type=text]{background-image:url(data:image/gif;base64,{PIP_Input})}
table,.spanner{width:100%}
textarea.half{height:75px}
textarea{height:150px}
a:link,a:visited{color:#f90}
a:hover,a:active,a:focus{color:#fc6}
.bNav,.gen,.nav,.s,.tip,.txtGn,.txtOe,.txtRd,.spanner,a,input,select,textarea{font-weight:700}
.bNav,.gen,.spanner{text-align:{FE_Align_Reverse}}
.bNav{height:64px}
.ci,.co,.gen,.center{margin:auto}
.ci,.co,.ng1,.ng2,textarea{width:98%}
.ci{background-color:#333;border-style:solid;border-width:1px;border-color:#393939;text-align:{FE_Align};padding:12px}
.co,body,.center{text-align:center}
.co{padding:12}
.dt,.s,.tip,.txtBl,.txtGn,.txtOe,.txtRd{display:inline}
.dt,.tip{float:{FE_Align};text-align:{FE_Align};width:80%}
.gen,input,select,textarea{font-family:'Merriweather','PT Serif',Verdana,Arial,Helvetica,sans-serif}
.gen{letter-spacing:0px;white-space:nowrap}
.h1,.h1f,.h2,.h2f,.h3,.h3f,.h4,.h4f,.ng1,.ng2,.r,.rf,.spanner{margin:0;padding:4px;border-style:{Half_Border};border-width:1px;border-color:#555}
.h1,.h1f,.h2,.h2f,.r,.rf{width:25%}
.h1,.h3,.ng1,.spanner{background-color:#555}
.h2,.h4,.ng2,code{background-color:#444}
.h3,.h3f,.h4,.h4f{width:50%}
.nav{font-size:14px;width:20%}
.ng1,.h1f,.h3f{background:linear-gradient({Gradient_Degree}deg,#555,#3c3c3c)}
.ng2,.h2f,.h4f{background:linear-gradient({Gradient_Degree}deg,#444,#363636)}
.rf{background:linear-gradient({Gradient_Degree}deg,#490,#390)}
.right{padding:20px;width:80%}
.r{background-color:#603}
.txtBl{color:#ddd}
.txtGn{color:#4d6}
.txtOe{color:#f90}
.txtRd{color:#f30}
.ufts{width:220px}
.vr{float:{FE_Align};width:1px;height:inherit;background-color:#999}
@keyframes idxAn{0%{background:#603}100%{background:#ddd}}
.mob{display:none}
a[href="?cidram-page=logout"]{padding-left:10px;background-image:url(data:image/gif;base64,{PIP_Key});background-repeat:no-repeat;background-position:0% 50%}
a[href="?cidram-page=logout"]:hover,a[href="?cidram-page=logout"]:active,a[href="?cidram-page=logout"]:focus{background-image:url(data:image/gif;base64,{PIP_Key2})}
.textLabel{color:#f90;white-space:pre}
@media only all and (max-width:640px) {
  .big,.dt{display:none}
  .mob{display:block}
  .tip,.bNav,.gen{float:none;height:auto;text-align:center}
  .ufts{width:auto}
  .h1,.h1f,.h2,.h2f,.r,.rf{width:50%}
  .extend{width:100%}
}
